.ContactUs{
    display: flex;
    height: auto;
    width: 100vw;
    flex-direction: column;
    text-align: unset;
}
/* 
.ContactUsInfoAlign{
    display: flex;
    flex-direction: column;
}

.ContactUsInfo{
    display: flex;
    background-color: #e6e0c3;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 2rem;
    border-radius: 70px;
    border: 5px double #9e7d41;
    max-height: 50vh;
}

.ContactUsTitle{
    color:white;
    text-shadow: -1px 1px 1px #9e7d41,
				  1px 1px 1px #9e7d41,
				  1px -1px 0 #9e7d41,
				  -1px -1px 0 #9e7d41;
    margin-bottom:10px;
    margin-top:0;
    padding:0;
    font-weight: 900;
    font-size: 3rem;
}

.ContactDetailsHead{
    font-weight: 700;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: #8a6d36;
    font-size: 1.4rem;
}

.ContactDetails{
    color: #9e7d41; 
    font-size: 1.2rem;
    font-weight: 700;
}
.ContactUsTitleForm{
    font-family:Verdana, Geneva, Tahoma, sans-serif; 
    padding: 1rem;
    color: #9e7d41;
}


.ContactUsPhoto{
    max-height: 70vh;
    margin-top: 10px;
    border-radius: 100px;
    border: 7px double #9e7d41;
    align-items: center;
    box-shadow: 4px 5px #e2d0b0;
    width:auto;
} */

.ContactUsMain{
    color: #353434;
    text-align: unset;
    flex-direction: row;
    display: flex;
}

.ContactUsHeading{
    font-weight: 900;
    font-size: 4rem;
    margin: 0;
}

.ContactUsSubHeading{
    margin:.8rem 0;
    color: #7f6534;
}

.ContactUsSpan{
    margin-top: 2em;
}
.ContactUsLeft{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 3em;
    text-align: unset;
    margin-top: 4em;
    margin-left: 3em;
    flex:2;
}

.ContactUsInfo{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-self: flex-start;
    text-align: unset;
}

.ContactUsIcons{
    margin: 0 .5em;
    text-align: unset;
}
.ContactUsRight{
    flex:1;
    justify-content: center;
    align-items: center;
}

.ContactUsImage{
    max-height: 35em;
    margin: 0;
    border-radius: 1000em;
    border: 3px solid #ae8f57;
    margin: 4em 10em;
}

.SocialMediaIcons{
    display: flex;
    justify-content: space-between;
}

.brownColor{
    color: #70592e;
}