.DogCard{
    background-color: #E3DDB9;
    width: 25vw;
    height: auto;
    margin: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    color: #515151;
}

.DogImageProfile{
    max-width: 10rem;
    max-height: 10rem;
    border-radius: 10px;
    margin: 20px;
    object-fit: contain;    
}

.DogCardDetails{
    margin: 2px;
    font-size: 1rem;
}

.DogInfoName{
    margin:7px;
    font-size: 2rem;
}

