.HomePage{
    display: flex;
    flex-direction: column;
}

.WelcomeHeader{
    color: #9c27b0; 
    font-size: 30px;
    margin: 20px;
}

.sniglet-regular {
    font-family: "Sniglet", system-ui;
    font-weight: 400;
    font-style: normal;
}
  
.sniglet-extrabold {
    font-family: "Sniglet", system-ui;
    font-weight: 800;
    font-style: normal;
}
  

.PawPrint{
    height: 50px;
}

.Header{
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginSection{
    display: flex;
    justify-content: center;
}