.FemaleHeader{
    color: #9c27b0;
    font-size: 2rem;
    margin: 7px;
}
.MaleHeader{
    color: #9c27b0;
    font-size: 2rem;
    margin: 7px;
}

.FemaleDogDisplay{
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.MaleDogDisplay{
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.OurDogsContent{
    margin: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.FormButton{
    display: flex; 
    justify-content: center;
    margin-bottom: 20px;
    padding: 0;
}