.FemaleHeader{
    color: #9c27b0;
    font-size: 2rem;
    margin: 7px;
}
.MaleHeader{
    color: #9c27b0;
    font-size: 2rem;
    margin: 7px;
}

.FemaleDogDisplay{
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.MaleDogDisplay{
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.OurDogsContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    margin-top: 10px;
}

.FormButton{
    display: flex; 
    justify-content: center;
    margin-bottom: 20px;
    padding: 0;
}

.OurDogs{
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.DogPageHeader{
    display: flex;
    justify-content: center;
    width: 100vw;
}

.DogHeaderContainer{
    width: 100vw;
}