.FemaleHeader{
    color: #9e7d41;
    font-size: 3rem;
    font-weight: 1000;
    text-align: center;
    margin-top: .7em;
}
.MaleHeader{
    color: #9e7d41;
    font-size: 3rem;
    font-weight: 1000;
    text-align: center;
    margin-top: .7em;
}

.FemaleDogDisplay{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}

.MaleDogDisplay{
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.OurDogsContent{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100vw;
    margin-top: 10px;
}

.FormButton{
    display: flex; 
    justify-content: center;
    margin-bottom: 20px;
    padding: 0;
}

.OurDogs{
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.DogPageHeader{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

.DogHeaderContainer{
    width: 100vw;
}

.MuiCardHeader-title{
    font-family:"nunito"
}