.Breed{
    color: #9c27b0;
    margin: 15px;
}

.sniglet-regular {
    font-family: "Sniglet", system-ui;
    font-weight: 400;
    font-style: normal;
}
  
.sniglet-extrabold {
    font-family: "Sniglet", system-ui;
    font-weight: 800;
    font-style: normal;
}

.PuppyTitle{
    display: flex;
    align-items: center;
    justify-content: center;
}

.PawPrint{
    align-items: center;
    justify-content: center;
}

.PuppyList{
    display: flex;
    flex-wrap: wrap;
}

.NewPuppyForm{
    margin-top: 20px;
}